@charset "UTF-8";

table tr td{
	/* 사이즈보다 내용이 클경우 내용 자동 줄바꿈 */
	white-space: nowrap;/* 줄바꿈 해제*/
	overflow:hidden; /* 사이즈 넘칠경우 내용 숨기기*/
	/* scroll: 스코롤바 */
	
	text-overflow: ellipsis;
	/* text-overflow 텍스트가 구역 사이즈보다 커졌을때
	   ellipsis : 넘친 텍스트를 ... 표현 */
	
	
	word-break:break-all;
	max-width:100px;
}