@charset "UTF-8";


/* 1.모든 곳에 적용 */
*{ /* s */
	font-family: "궁서";
	color : blue;
} /* e */

/* 2.h3 태그에 적용 */
h3{
					/*윗줄*/		/*취소선*/	/*밑줄*/
	text-decoration: overline line-through underline;
	text-shadow: 1px 3px 3px orange;
	text-align: center;			
}

/* 3. p 태그에 적용 */
p{
	font-family: "굴림";	
	color: black;
	font-size: 8px;			
	font-style: italic;
	font-weight: bold;	
	word-spacing: 5px;	/* 단어 */
	letter-spacing: 2px; /* 글자 */
	line-height: 200%;	
}

