@charset "UTF-8";

.flex_box1{
	border:1px solid red;
	padding:20px;
	display:flex;
	flex-direction: row;
}

.box{
	border:1px solid black;
	width:100px; height:50px;
}

.flex_box2{
	border:1px solid red;
	padding:20px;
	display:flex;
	flex-direction: column;
}


.flex_box3{
	border:1px solid red;
	padding:20px;
	display:flex;
	flex-direction: row-reverse;
}

.flex_box4{
	border:1px solid red;
	padding:20px;
	display:flex;
	flex-direction: column-reverse;
}