@charset "UTF-8";

/* 상단 */
#sub_img1{
	background-image: url("../img/sub_reservation.jpg");
}

/* 본문  */
#content{padding:100px 0px; margin:0 auto;
width:1200px; display:flex;}

/* 날짜 */
.date{
	width:700px; padding:30px 0px;
	background-color: #FCF9EA;
	text-align: center;
	margin:0 auto;}
	
.date p{margin-bottom:10px;}
	
.date2{ padding:8px 0px;}

table{margin-left:auto; margin-right:auto;}

table , td , tr{
	border:2px solid black;
	border-collapse: collapse;
	background-color:white;
	
}

.row1 td{width:90px; height:10px; 
text-align: center;}

td{text-align: left;  height:80px;
vertical-align: top;}

.red{ color:red;}

/* 사이드바 */
.sider_bar{
	width:300px; padding-left:30px;
}

.sider_bar h3{ padding-left:10px;
	border-left:5px black solid; }
	
.sider_bar li{padding: 5px 0px;
display:block; font-size:15px;}

.sider_bar ul{padding-bottom: 30px;}

.green{color:green; font-size:9px;}

