.게임판{
	display:flex;
	flex-wrap:wrap;
	
	margin:0px auto;
	width:40%;
	
}

.게임판 div{
	width:30%; height:150px;
	border: 5px solid black;
	text-align: center;
	background-color:#eeeeee;
}