@charset "UTF-8";

.cattingwrap{	/* 채팅과 명단 */
	display:flex; justify-content: center;
}

.connectlistbox{
	width:15%; padding:10px;
}

.cattingbox{	/* 채팅전체 */
    width: 35%; align-items: center;
}

.connetbox{display:flex; align-items: center; margin-bottom:15px;}
.connetbox .name{margin-left: 10px;}

.contentbox{
	border:1px solid black;
	background-color: #bacee0;
	height:700px;
	overflow-y:scroll;
	padding:20px; 
	
}

.secontent{ /* 보낼때*/
	display:flex;
	justify-content:flex-end;
	align-items:flex-end;
	font-size:12px;
	margin:15px;
}

.date{ /* 시간 */
	font-size:2px; margin:0px 5px
}

.name{/* 이름 */
	font-size:10px;
}

.content{	/* 채팅내용  */
	background-color:#ffffff;
	border-radius: 10px;
	padding:10px;
	max-width:100%; /*해당구역크기의 최대 사이즈*/
	word-break: break-all; /* 자동줄바꿈 */
	font-size:12px;
}

.alarm{	/* 알림 */
	text-align:center;
	font-size:8px;
	width: 70%; margin:20px auto;
	background-color: #b1c3d6;
	border-radius: 10px;
}

.tocontent{
	display:flex;
	justify-content: flex-start;
}



.msgbox{
	width:100%;
	border:1px solid #eeeeee;
	padding:15px;
	resize:none;
}

/* 이모티콘버튼, 보내기버튼 있는 구역 */
.cattingbtnbox{
	display:flex;
	justify-content: space-between;
}

.sendbtn{
	padding:10px;
	font-size:10px;
	background-color: yellow;
	border:none;
	border-radius: 5px;
}

.rcontent{
	margin-left:8px;
}

.contentdate{
	display:flex;
	align-items: flex-end;;
	justify-content: flex-start;
}

.secontent .content{
	background-color: #ffeb33;
}

.emobtn{
	background-color:transparent;
	border:none;
	padding:10px;
	font-size:23px;
}

.enolist{
	width:300px;
	height:300px;
	overflow-y:scroll;
}

/* 내용물안에 사진 있으면 배경 투명 */
.emocontent{
	background-color: transparent !important;
}

