@charset "UTF-8";

*{
	margin:0px; padding:0px;
	list-style-type: none;
}

a{	text-decoration: none;
	color:black;
}

@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* --------- 헤더 ----------*/
/* 헤더 로그인 프로필 */


.header{
	display:flex;
	align-items: center;
	justify-content:space-between;
	margin:20px 0px;

}

/* 로그 */
.mainlogo{width:20%;} 
.mainlogo img{width:100%;}

/* 메인 메뉴 */
.mainmenu{
	width:60%;
	display:flex;
	justify-content: center;
	margin:0px !important;
	
	font-size:16px;
	font-family: TheJamsil5Bold;
}

.mainmenu li{
	margin-left:10px;
}
	
	
.submenu{
	font-size:13px;
	width:20%;
	font-family: TheJamsil5Bold;	
	display:flex;
	justify-content: space-between;
}

.submenu a {margin-left:10px; }


.hpimg{
	width:	50px;
	height: 50px;
	border: solid 1px #e8e8e8;
	border-radius: 50%;
}

.hpimghtn{
	border:none;
	background-color:white;
}

.pimgbox{
	display:flex; align-items: center;
}

.preming{
	width:200px;
	height:200px;
	border:1px solid #e8e8e8;
	border-radius: 50%;
}

.mimg{
	width:30%;
}

.signupbtn{
	width:100%;
	border:none;
	font-weight:bold;
	background-color:#4d62e1;
	color:white;
	padding:20px;
	margin:20px 0px;
	border-radius: 20px;
	font-size:20px;
}

html , body{
	height:100%;
	/* 사이드바 제거 */
	
	/* 해당구역의 스크롤바 제거 */
	-ms-overflow-style:none;
}

/* 브라우저 자체의 사이드바 제거 */
::-webkit-scrollbar{display:none;}

/* 사이드바 구역 */
.searchbox{
	position:fixed; left:10px; top:200px; 
	z-index:999; width:100px; height:100px;
	background-color:white;
}

/*카카오지도 + 사이드바 */
.contentbox{
	display:flex; width:100%; height:100%
}

/* 지도 */
#map{
	width:70%; height:100%;
}

/* 사이드바 */
.productlistbox{
	width:30%;
	height:100%;
}

/*  이미지 상자 */
.pimgbox{
	height:130px; width:150px; 
	display:flex;
	flex-direction: column;
}

.pcontentbox{
	display:flex;
	flex-direction: column;
}

/* 제품 1개의 구여 */
.productbox{
	display:flex;
	
	padding:0px 5px 20px 5px;
	border-bottom:1px solid #eeeeee;
	margin:0px 5px 20px 5px;
}

/* 사이드바 이미지 */
.pimgbox img{
	object-fit:cover; height:130px; width:130px; 
}

.productbox{
	width:100%;
	padding:0px 10px;
}

/* 제품 제목*/
.pname{
	font-family: TheJamsil5Bold;
	font-size:20px;
	height:30px;
	overflow: hidden;
	white-space: nowrap; /* 자동줄바꿈  */
	text-overflow:  ellipsis;
	max-width:230px;
}

/* 가격 */
.pprice{
	text-align: right;
	font-family: 'TheJamsil5Bold';
	font-size: 18px;
	margin-top:20px;
}

/* 이모티콘 */
.petc{
	text-align: right;
}

/* ---------- 제품 상세 페이지 ------------*/
.pviewbox{
	padding:0px 20px 10px 20px;
	width:100%;
}

.pviewinfo{
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5px;
}

.pbadge{ /* 목록보기 버튼 */
	background-color: pink;
	border:none;
	border-radius: 10px;
	padding:3px 10px;
	color:white;
}

/* 날짜 */
.pviewbox .pdate{ 
	margin:20px 0px 5px 0px;
}

/* 설명 */
.pviewbox .pcomment{
	height:120px;
	font-size:13px;
}

.pviewbox .pbadge{
	text-align: right;
}

.pviewbtnbox button{
	border:none;
	background-color: #f66d85;
	width:48%;
	padding:15px;
	color:white;
	font-size:22px;
	margin-top:20px;
	border-radius: 10PX;
}

.carousel-item img{
	height:250px;
	object-fit:cover;
}




/* -------- 제품 채팅 ------- */
.chatbox{
	height:100%;
	padding:10px;
}

.chatcontent{
	height:80%;
	border:1px solid black;
	padding:20px;
	overflow: scroll;
}

.sendbox{
	text-align: right;
}

.receivebox{
	text-align: left;
}

.chatbtn{
	display:flex;
	height:10%;
	margin-top: 10px;
}

.chatbtn textarea {
	width:80%;
	resize: none;
	padding:10px;
}

.chatbtn button{
	width:20%;
	border:none;
	margin-left:10px;
	background-color: black;
	color:white;
	font-weight: bold;
}