@charset "UTF-8";

*{
	margin:0 auto;
}
.table{ /* 테이블 너비 */
	width:700px;
	padding-top:10px;
	
}

.table .head { /* 테이블 제목 */
	width:90px;
}

 .col2{		/* 2열 데이터 */
	width:500px;
	height: 40px;
}

.col2 input{ /* 2열 데이터 상자 */
	width:500px;
	height:25px;
	
}

.table th, .table td{	/* 하단 줄 */
	border-bottom:1px solid #F2F2F2;
	padding-bottom:10px;
}

textarea{
	width:500px;
	height: 90px;
}

.line{
	width:700px;
	padding-top:30px;
	border-bottom:solid black 2px;
}

.btn{
	text-align: right;
	padding:30px;
}

.save , .list{
	padding:12px;
}
