@charset "UTF-8";
/* 폰트 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/*  @import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
} 
 */
/* 공통 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
*{padding:0px; margin:0px;}
a{color:black; text-decoration: none; }
li{display:inline-block;}

/*상단ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
#header{width:100%; }

/* 상단메뉴 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
.top_menu{border-bottom: 1px solid #DBDBDB; /* 테두리  */
padding:12px 15px; display:flex; justify-content: right;	/* 너비 */
align-items: center;	/* 정렬 */}

.top_menu a {padding:0px 18px;		/* 너비 */ 
font-size:11px;  font-family: 'Noto Sans KR';	/* 폰트 */}

.t_line{color:#8e8e8e; font-size:8px;		/* 폰트 */}

.top_menu .sub_menu a{padding:0px;	/* .top_menu a 와 충돌 */}

/* 하단메뉴 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.btm_menu{
	width:100%; padding:26px;  		/* 너비 */
	background-color:white;		/* 배경색 */
	display:flex;  justify-content: space-between;	/* 정렬 */
	position:sticky; top : 0px; opacity:0.8;		/* sticky */}

/* 하단메뉴 링크  */
.link{ display:flex; font-family: 'Noto Sans KR';}

  
/* 로고  */
.logo img{height:20px; padding-right:20px; padding-left:15px;}

/* 링크 텍스트 */
.link a {font-size:12px; color:black; font-weight: bold;
padding-right:25px; }

.drop_menu:hover .sub_menu{/* 클릭할때 보여주기 */ 
display:block; }

.drop_menu{ position: relative;}

.sub_menu{	/*  클릭시 나오는 창 */
position:absolute; left:-20px;	opacity:0.9; border:2px black solid;
width:118px; 

display:none; 
background-color: white;
padding: 10px 0px; 
text-align: center;

z-index:1;
}

.sub_menu li{display:block; width:118px;}

.sub_menu li a {padding-right:0px; /* .link a 와 충돌  */}

.red{color:red;}


/* 검색창 */
.search{display:flex;  width:130px; margin-right:100px;
border-bottom:1px solid black; }



.search_input{
width:110px; border:none; }

.search_input:focus { /* 누르면 테두리 안생김 */
    outline: 0;}


/* 상단 끝 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */




/* fixed ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/
.fixed{
	background-color:#FAFAFA;
	position: fixed; 
	right: 10px ; top:40%;
	opacity: 0.8; 
	width:45px; height:300px;
	border:2px solid #DBDBDB;
}

.fixed li { display:block; padding:10px; text-align: center;
border-bottom:2px solid #DBDBDB;
}

/* 하단ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ*/

#footer{width:100%; background-color:#F7F7F7; }

.ft_box{margin:40px auto;  padding:40px;
width:1200px;
display: flex; justify-content: space-between; 
text-align: left; font-family: Noto Sans KR;
}


.ft_box h2{ font-size:16px; margin-bottom:20px;}

.tel{font-size:18px; font-weight: bold; }

.ft_box p, .ft_box li{font-size:12px;}

.ft_box li{display:block; padding:4px 0px;}

.bold{font-weight: bold;}

.gray{text-align: center; font-size:11px; 
color:#BABBBA; background-color:white;
padding-bottom:30px; font-weight: bold;}


/* 중단시작 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
/* ------ 공통 적용 사항 ------  */

*:focus{outline: none;}


/* ------ 0. 메인 사진 삽입 ------ */

#main_img_bar{
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 auto;
	text-align: center;
}

/* ------ 본문 작업 ------ */
#content{
	margin: 0 auto;		/* 구역 가운데 설정 */
	width: 1620px;		/* 넓이 설정: 조군 사이트와 일치 */
}

/* ------ 1. 상단바_이미지 삽입 ------ */
.top_bar{
	margin: 200px auto;		/* 상하 여백 설정 */
	text-align: center;		/* 내용물 가운데 위치 */
}

.top_bar img{
	width: 100%;		/* 이미지 가로 100% 설정 */
	vertical-align: middle;
	margin: 50px 0px 20px 0px;	/* 여백 설정 */
}

.top_bar li{
	display: inline-block;	/* 가로 배치 */
}

/* ------ 2. 본문 내용 시작 ------ */
#content h3{		
	font-size: 17px;	font-weight: 700;	/* 글씨체 설정 */
    text-align: center;		/* 가운데 정렬 */
}

.sub-title{
	color: #999;	font-size: 13px;	font-weight: 200;	/* 글씨체 설정 */
    margin-top: 20px;    margin-bottom: 10px;	/* 여백 설정 */
    text-align: center;		/* 가운데 정렬 */
}

.item-wrap{
	padding: 2% 0 0;
	width: 1620px;
}

.item-cont{
	display: flex;
	margin: 0 auto;
	justify-content: center;
}

/* ------ 3. 아이템 상단 ------ */
.product_img{
	padding: 1% 1%;
}

.item-cont img{
	width: 100%;		/* 이미지 가로 100% 설정 */
	vertical-align: middle;
	margin: 0px 7px 0px 0px;	/* 여백 설정 */
}

.product_info{
	position: relative;
	padding-top: 10px;
	padding-bottom: 20px;
}

.prd_con{
	position: absolute;
	bottom: 0px;	left: 0px;
}
.MK-product-icons{
	display: flex;
}

.prd_review_count{
	color: #9B9D9B;
	position: absolute;
	top: 5px;	right: 4px;
}

.prod_color{
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 0px;
}

.prod_color span{
    display: inline-block;
    vertical-align: top;
    width: 8px;
    height: 8px;
}

.sale_percent{
	color: red;
	font-weight: bold;
	position: absolute;
	bottom: 45px;	right: 4px;
}

.price_impact{
	font-weight: bold;
	margin: 3px 0;
}

.prd_name{
	margin-bottom: 15px;
}

.prd_name_tittle{
	margin: 1px 0px;
	font-weight: bold;
	font-size: 15px;
}