@charset "UTF-8";

/* 웹폰트 : 눈누홈페이지 */
@font-face {
    font-family: 'Sans';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 기본값 설절 글꼴,색상,여백 */
*{ font-family: '맑은 고딕'; color:black; margin: 0; padding: 0px; }

/* 로고 구역에서 텍스트 가운데 정렬  */
.logobox{ text-align: center; }

/* 로고 제목 꾸미기 : 폰트 , 색상 , 사이즈 */
.title{ font-family: 'Sans'; color: black; font-size: 40px; text-decoration: none; }

/* sticky 메뉴 2개 이므로 충돌 : 하단 메뉴 top 위치 변경 */
.h_bottom{ top : 40px !important; /* 부트스트랩보다 우선순위 */ }

/* a 마크업 색상 변경 */
.nav-link{ color : black !important; }

/* 상단 메뉴 : 오른쪽 배치 */
.h_topmenu{ width: 100%; display: flex; justify-content: flex-end; font-size: 9px;}

/* 하단 메뉴 : 가로 수평정렬 / justify-content: space-between 사용시 width 필수!  */
.h_bottommenu{ width: 100%; display: flex; justify-content: space-between;
 font-size: 12px; font-weight: bold;}

.carousel-inner img{margin: 0 auto; width:85% !important;}

/* 제품 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.itembox{display:flex; flex-wrap: wrap;}

.box_title{
	text-align: center;
	font-family: 'Sans';
	border-bottom:2px solid #999999;
	width:20%;
	margin:3% auto;
	padding-top:3%;
	padding-bottom:3%;
}
/* 서로 다른 사이즈마다 css다르게 설정 */
		/* 조건 ↓ 참 일경우 */
@media(max-width: 1000px){	/* 최대 가로사이즈 1000px 아래면 */
	.item{width: 45% !important; margin: 2% !important;}
}

@media(max-width: 500px){	/* 최대 가로사이즈 500px 아래면 */
	.item{width: 90% !important; margin: 2% !important;}
}


/* 1200px 이상 기준 */
.item{width: 28%; margin: 2%;}
.item img{
	width:100%;
	border-radius:20px;
}

.item :hover{
	opacity: 0.8;
}

.item_title{
	font-size:14px;
	height:30px;
	margin:5% 0%;
}

.item_size{
	font-size:13px;
	color:#999999;
	border-bottom: 1px solid #999999;
	padding-bottom:4%;
}

.item_price{
	text-decoration: line-through;
	color:#999999;
	font-size:14px;
	margin-top: 3% ;
}

.item_sale{
	font-family: Sans;
	font-size:17px;
}

.item_discount{
	font-family: Sans;
	color:#f44336;
	font-size:17px
}

.item_bottom{
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.item_review{
	font-size:13px;
	color:#999999;
	text-align: right;
}




