@charset "UTF-8";

img {
	width:400px;
	height:500px;
}

div{
	width:800px;
	padding:10px;
	border: 1px solid #0F6878;
	background-color: #0F6878
}
.y{
	color:#FFA500;
}

p{
	color:white;
	line-height:90%; 
}

.y1{
	color:#FFA500;
	font-size:42px;
}