@charset "UTF-8";

*{
	margin:0 auto;
}
.table{
	width:700px;
	padding-top:10px;
}

.table th {
	width:90px;
	text-align: left;
}

 .col2{
	width:500px;
	height: 40px;
	text-align:  center left;
}

.col2 input{
	width:500px;
	height:25px;
}

.table th, .table td{
	border-bottom:1px solid #F2F2F2;
}

textarea{
	width:500px;
	height: 90px;
}

.line{
	width:700px;
	padding-top:30px;
	border-bottom:solid black 2px;
}

.btn{
	text-align: right;
	padding:30px;
}

.save , .list{
	padding:12px;
}
