@charset "UTF-8";
*{
	margin:0 auto;
}

h3{
	text-align: center;
	padding-top:15px;
}

.signup{
	padding:30px;
	text-align: center;
	width:600px;
}

.line{
	border-top:red 1px solid;
	padding-top:30px;
}

.list{
	list-style: none;
	padding-bottom:9px;
}

.col1, .col2{
	display:inline-block;
}

.col1{
	text-align:left;
	width:150px;
}

.textbox{
	width:170px;
	height: 25px;
}

.col2{
	text-align:left;
	width:300px;
}

.selectbox{
	width:70px; height: 25px;
}

.textbox2{
	width:350px; height:100px; resize: none;
	margin-bottom: 15px;
}

.hello{ vertical-align: top; }

.btn{
	text-align: right;
}
.btn input{
	padding:15px;
}